@import url(reset.css);
body {
   background-color: #c4c1c1;
   font-family: Arial, Helvetica, sans-serif;
}
header {
   font-weight: 700;
   font-size: 20px;
   padding: 20px 0;
   margin-bottom: 30px;
   box-shadow: 0px 1px 20px black;
   background-color: #fff;
}
.header__body {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 0 auto;
   max-width: 1300px;
}
.header__name-page {
   display: flex;
   align-items: center;
   gap: 15px;
}
.header__name-page::after {
   content: '';
   width: 30px;
   height: 30px;
   background-color: darkcyan;
   animation: spin 2s ease 1s infinite  alternate;
}
.header__menu {
}
.menu {
}
.menu__body {
}
.menu__list {
   display: flex;
   gap: 30px;
}
.menu__item {
   transition: 0.3s;
}
.menu__item:hover {
   color: rgb(117, 112, 112);
}
.menu__link {
}


@keyframes spin { 

0%{
  transform: rotate(0deg);
}

25%{
  background-color: #FFEB3B;
}

50%{
    background-color: #AAFFFF;
  }
  
  
100%{
  transform: rotate(360deg);  
}

}

.main__container {
   max-width: 1200px;
   margin: 0 auto;
   background-color: #fff;
}
.main__body {
   max-width: 800px;
   margin: 0 auto;
   padding: 20px 0;
   text-align: center;
}
.main__name {
   margin: 0 0 20px 0;
   font-weight: 800;
   font-size: 21px;
   text-transform: capitalize;
   text-align-last: left;
}
.main__text {
   display: flex;
   flex-direction: column;
   gap: 25px;
   margin: 20px 0;
   color: #8f8a8a;
   line-height: 25px;
   text-align-last: left;
}
