@import url(reset.css);
@import url(index.css);
@import url(page_1.css);
body {
   background-color: #c4c1c1;
   font-family: Arial, Helvetica, sans-serif;
   position: relative;
}
header {
   font-weight: 700;
   font-size: 20px;
   padding: 20px 0;
   margin-bottom: 30px;
   box-shadow: 0px 1px 20px black;
   background-color: #fff;
}
.header__body {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 0 auto;
   max-width: 1300px;
}
.header__name-page {
   display: flex;
   align-items: center;
   gap: 15px;
}
.header__name-page::after {
   content: '';
   width: 30px;
   height: 30px;
   background-color: darkcyan;
   animation: spin 2s ease 1s infinite  alternate;
}
.header__menu {
}
.menu {
}
.menu__body {
}
.menu__list {
   display: flex;
   gap: 30px;
}
.menu__item {
   transition: 0.3s;
}
.menu__item:hover {
   color: rgb(117, 112, 112);
}
.menu__link {
}


@keyframes spin { 

0%{
  transform: rotate(0deg);
}

25%{
  background-color: #FFEB3B;
}

50%{
    background-color: #AAFFFF;
  }
  
  
100%{
  transform: rotate(360deg);  
}

}

.loader {
   position: absolute;
   width: 100%;
   height: 100%;
   background-color: #fff;
   z-index: 999;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}
.loader__square {
   width: 150px;
   height: 150px;
   background-color: darkcyan;
   animation: spin 2s ease 1s infinite;
   margin-bottom: 35px;
}
.loader__text {
   font-size: 25px;
   font-weight: 800;
}

.loaded .loader {
 display: none;
}
