@import url("reset.css");
@import url("common.css");
@import url("style-footer.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

.wrapper {
   overflow: clip;
   min-height: 100%;

   display: flex;
   flex-direction: column;
}

.wrapper>main {
   flex-grow: 1;
}

[class*="__container"] {
   max-width: 1270px;
   padding: 0 15px;
   margin: 0 auto;
}

.header-page {
   font-weight: 500;
   font-size: 12px;
   line-height: 2.08;
   top: 0;
   left: 0;
   position: fixed;
   width: 100%;
   z-index: 99;
   color: rgba(73, 80, 87, 0.5);
   background: #fff;
}

.header__container {
   display: flex;
   min-height: 100px;
   align-items: center;
   gap: 15px;
   position: relative;
}

.header__logo {
   display: inline-flex;
   align-items: flex-end;
   color: #495057;
   z-index: 2;
}

.logo {
   font-weight: 700;
   font-size: 18px;
   line-height: 1.39;
}

.logo::after {
   content: '.';
   color: #DDBEA9;
}

.header__navigation {
   display: flex;
   align-items: center;
   flex: 1 1 auto;
   gap: 20px;
}

.header__menu {}

.menu {}

.menu__body {
   position: relative;
   display: flex;
   flex: 1 1 auto;
   justify-content: center;
}

.menu__list {
   display: flex;
   flex-wrap: wrap;
   column-gap: 25px;
}

.menu__item {}

.menu__link {
   display: inline-block;
   transition: color 0.3s;
   position: relative;
}

.menu__link::after {
   content: '';
   position: absolute;
   left: 50%;
   bottom: 0;
   height: 2px;
   width: 0;
   border-radius: 2px;
   background-color: #DDBEA9;
   transition: all 0.3s;
}

.page-next__link::after {
   content: '';
   position: absolute;
   left: 50%;
   bottom: 0;
   height: 2px;
   width: 0;
   border-radius: 2px;
   background-color: #DDBEA9;
   transition: all 0.3s;
}

.menu__parent-item {
   padding-right: 13px;
   position: relative;
}

.menu__parent-item::after {
   content: "";
   position: absolute;
   top: 10px;
   right: 0;
   height: 15px;
   width: 8px;
   background: url(../img/icons/arrow.svg) 0 0 / 100% no-repeat;
}

.sub-menu {
   position: absolute;
   top: 120%;
   left: 0;
   transition: all 0.3s;
   pointer-events: none;
   padding-top: 10px;
   visibility: hidden;
   opacity: 0;
}

.sub-menu__list {
   background: #212529;
   color: rgba(248, 249, 250, 0.6);
   border-radius: 10px;
   min-width: 140px;
   padding: 27px 20px;
   background: #212529;
}

.sub-menu__item {}

.sub-menu__item:not(:last-child) {
   margin-bottom: 10px;
}

.sub-menu__link {
   transition: color 0.3s;
}

.header__to-form-buttons {
   flex: 0 0 auto;
   gap: 25px;
   display: flex;
   z-index: 2;
}

.sign-in {
   transition: color 0.3s;
}

.get-start {
   padding: 8px 15px;
   background: #DDBEA9;
   border-radius: 20px;
   color: #F8F9FA;
   transition: all 0.3s;
}

.menu-burger {
   display: none;
}

.main__container {}

.main__slider {
   background: url(../img/pic-content.webp) center center / cover no-repeat;

}

.slider {
   gap: 15px;
   padding: 193px 0;
   text-align: center;
}

.slider *:not(:last-child) {
   margin-bottom: 15px;
}

.main__author-name {
   font-weight: 300;
   font-size: 12px;
   line-height: 20px;
   color: #E5E5E5;
   max-width: 400px;
   margin: 0 auto;
}

.slider__title {
   max-width: 400px;
   margin: 0 auto;
}

.main__topic-categories-block {
   display: flex;
   gap: 30px;
   padding: 100px 0;
}

.main__choose-topic {
   flex: 0 1 400px;
   display: flex;
   flex-direction: column;
   gap: 30px;
}

.topic-choose {}

.card-post__items {
   display: flex;
}

.topic-choose__title {}

.topic-menu__item:not(:last-child) {
   margin-bottom: 10px;
}

.topic-menu__item::before {
   content: '+';
   color: #495057;
   padding-right: 10px;

}

.topic-menu__link {
   transition: color 0.1s;
}

.topic-choose__menu {}

.topic-menu {
   font-weight: 500;
   font-size: 12px;
   line-height: 2.08;
   color: #495057;
}

.topic-menu__list {}

.topic-menu__item {}

.topic-menu__link {}

.search-form-button {}

.form-button {
   display: flex;
   align-items: center;
}

.search-form-button input {
   width: 100px;
   padding: 5px;
   font-size: 12px;
}

.search-form-button input:focus {
   outline: none;
}

.search-form-button input::placeholder {
   font-weight: 500;
   font-size: 12px;
   line-height: 2.08;
   color: rgba(73, 80, 87, 0.5);
}

.search-form-button label {
   cursor: pointer;
   margin-right: 10px;
}

.main__posts-column {
   display: flex;
   flex-direction: column;
   gap: 40px;
}

.main__posts-card {
   display: flex;
   gap: 30px;
}

.card {}

.card__image {}

.card__image img {
   width: 100%;
}

.card__info {
   flex: 0 1 290px;
   gap: 15px;
   display: flex;
   flex-direction: column;
}

.card__date {}

.card__image {
   overflow: hidden;
}

.card__image img {
   transition: transform 0.3s;
}

.card__image img:hover {
   transform: scale(1.1);
}

.card__title {
   font-weight: 500;
   font-size: 16px;
   line-height: 1.56;
   color: #212529;

}

.card__text {
   padding-bottom: 14.5px;
   border-bottom: 1px solid #E5E5E5;
}

.card__footer {
   display: flex;
   justify-content: space-between;
}

.card__author {}

.card__like {
   display: flex;
   align-items: center;
}

.card__like span {
   padding-left: 5px;
}

.card__like::before {
   content: '';
   background: url(../img/icons/heart.svg) 0 0 / 100% no-repeat;
   width: 15px;
   height: 15px;
}

.card__to-post-link *:not(:last-child) {
   margin-bottom: 15px;
}

.hover-post {
   transition: color 0.3s;
}

.page-next__link {
   position: relative;
   display: inline-block;
}

.page-next__menu {
   display: flex;
   align-items: center;
   justify-content: flex-start;
   font-weight: 500;
   gap: 15px;
}

@media (any-hover:hover) {

   .menu__item:hover .menu__link,
   .menu__link.active,
   .page-next__item:hover .page-next__link,
   .page-next__link.active {
      color: #495057;
   }

   .menu__item:hover .menu__link::after,
   .menu__link.active::after,
   .page-next__item:hover .page-next__link::after,
   .page-next__link.active::after {
      width: 100%;
      left: 0;
   }

   .sub-menu__item:hover .sub-menu__link {
      color: #F8F9FA;
   }

   .get-start:hover {
      color: #495057;
      transform: scale(1.1);
   }

   .sign-in:hover {
      color: #495057;
   }

   .menu__parent-item:hover .sub-menu {
      top: 100%;
      visibility: visible;
      opacity: 1;
      pointer-events: auto;
   }

   .card__to-post-link:hover .hover-post {
      color: #2e7bc9;
   }

   .topic-menu__item:hover .topic-menu__link {
      color: rgb(180, 214, 214);
   }

}

@media (max-width:1099.98px) {
   .card {
      flex-wrap: wrap;
   }

   .main__posts-card {
      justify-content: flex-end;
   }

   .form-button input {
      height: 50px;
      width: 100%;
      font-size: 20px;
   }

   .form-button input::placeholder {
      font-size: 20px;
   }

   .topic-choose__menu {
      font-size: 16px;
   }

   .form-button label {
      width: 18px;
      height: 18px;
   }

   .form-button img {
      width: 100%;
   }

}

@media (max-width:785.98px) {

   .menu-burger {
      display: block;
      position: relative;
      flex: 0 0 50px;
      height: 30px;
   }

   .menu-burger::before,
   .menu-burger::after,
   .menu-burger span {
      content: '';
      position: absolute;
      background-color: #353636;
      height: 4px;
      width: 100%;
      left: 0;
   }

   .menu-burger::before {
      top: 0;
   }

   .menu-burger::after {
      bottom: 0;
   }

   .menu-burger span {
      top: 50%;
      margin-top: -2px;
   }

   .menu__list {
      flex-direction: column;
      font-size: 25px;
   }

   .menu__parent-item::after {
      width: 0;
   }

   .sub-menu {
      display: block;
      position: relative;
      visibility: visible;
      opacity: 1;
      pointer-events: auto;
      font-size: 16px;
   }

   .sub-menu__list {
      background: none;
      color: #414040;
      padding-top: 0;
      padding-bottom: 0;
      line-height: 1.8;
   }

   .menu__body {
      display: none;
   }

   /* .menu__body {
      position: fixed;
      display: block;
      left: 0;
      top: 0;
      overflow: auto;
      width: 100%;
      height: 100%;
      padding: 120px 20px 0 20px;
      background: #e2e0e0;
   } */

   .menu__body::after {
      position: fixed;
      content: '';
      top: 0;
      left: 0;
      height: 105px;
      width: 100%;
      background-color: #e8f4fa;
   }

   .header__to-form-buttons {
      font-size: 20px;
      flex: 0 1 auto;
   }

   .get-start {
      padding: 17px;
   }

   .header__navigation {
      justify-content: flex-end;
   }

}

@media (max-width:767.98px) {
   .slider {
      padding: 100px 0;
      margin-top: 155px;

   }

   .slider__title {
      font-size: 20px;
      max-width: 300px;
   }

   .topic-choose__title {
      font-size: 17px;
   }

   .page-next__menu {
      font-size: 18px;
      justify-content: center;
   }

   .main__topic-categories-block {
      padding: 50px 0;
   }
}

@media (max-width:600px) {
   .main__topic-categories-block {
      flex-wrap: wrap;
   }

   .topic-choose__title {
      font-size: 25px;
   }

   .card__image {
      width: 100%;
   }

   .card__info {
      flex: 100%;
      gap: 20px;
   }

   .card {
      font-size: 20px;
   }

   .card__date {
      font-size: 15px;
   }

   .card__title {
      font-size: 17px;
   }

   .card__text {
      font-size: 15px;
   }

   .card__author {
      font-size: 15px;
   }

   .card__like {
      font-size: 20px;
   }

   .card__like::before {
      width: 20px;
      height: 20px;
   }

}

@media (max-width: 470px) {
   .get-start {
      font-size: 16px;
      padding: 18px;
   }

   .sign-in {
      font-size: 16px;
   }

   .header__menu {
      flex: 0;
   }
}

@media (max-width: 425px) {
   .slider__title {
      font-size: 17px;
   }

   .slider {
      padding: 50px 0;
   }
}

@media (max-width:424.98px) {
   .get-start {
      font-size: 14px;
      padding: 14px;
   }

   .sign-in {
      font-size: 14px;
   }
}