.button {
   font-weight: 500;
   font-size: 18px;
   line-height: 1.5; /* 27px/18 */
   text-align: center;
   letter-spacing: 0.5px;
   text-transform: uppercase;
   color: #000000;
   padding: 15px 45px;
   border: 2px solid #000000;
   transition: all 0.3s;
   @media (max-width: 600px) {
      padding: 10px 35px;
   }
   @media (max-width: 420px) {
      padding: 8px 32px;
   }
   @media (max-width: 400px) {
      font-size: 12px;
      padding: 6px 25px;
   }
}

.title {
   font-style: normal;
   font-weight: 500;
   font-size: 56px;
   line-height: 1.29;
   text-transform: uppercase;
   color: #000000;
}

.subtitle {
   font-size: 25px;
   line-height: 1.48;
   letter-spacing: 0.01em;
   color: #000000;
}