@import url("reset.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

[class*="_container"] {
   max-width: 1240px;
   padding: 0 15px 0 15px;
   margin: 0 auto;
}

.first_block {
   background: url(../img/bg.jpg) center / cover no-repeat;
}

.text_container {
   padding: 269px 15px 100px 15px;
}

.date {
   font-family: 'Poppins';
   color: #E5E5E5;
   font-weight: 300;
   font-size: 12px;
   line-height: 1.67;
   margin: 0 0 15px 0;
}

.slogan {
   font-family: 'Poppins';
   font-weight: 700;
   font-size: 25px;
   line-height: 1.6;
   color: #F8F9FA;
   margin: 0 0 15px 0;
}

.subslogan {
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 300;
   font-size: 12px;
   line-height: 1.67;
   color: #E5E5E5;

}

.second_block {
   background: rgb(118, 222, 52);
   background: linear-gradient(135deg, rgba(118, 222, 52, 1) 19%, rgba(223, 166, 18, 1) 43%, rgba(176, 212, 27, 1) 91%);
}

.list {
   padding: 100px;
}

.list_title {
   font-family: 'Inter';
   font-style: normal;
   font-weight: 400;
   font-size: 26px;
   line-height: 1.08;
   margin: 0 0 45px 0;
   color: #212B36;
}

.list li {

   font-family: 'Inter';
   font-style: normal;
   font-weight: 700;
   font-size: 16px;
   line-height: 1.125;
   color: #637381;
   padding: 0 0 20px 32px;
}

.firts_li_block li {
   background: url(../img/icons/Ellipse\ 2744.svg)0 5px no-repeat;
}

.firts_li_block {
   margin-bottom: 60px;
}

.second_li_block li {
   background: url(../img/icons/checkmark2.svg) no-repeat;
   padding: 0 0 20px 32px;
}

.second_li_block {
   margin-bottom: 60px;
}

.third_li_block li {
   background: url(../img/icons/checkmark-circle-green.svg) no-repeat;
   padding: 0 0 20px 32px;
}

.third_li_block {
   margin-bottom: 60px;
}

.fourth_li_block li {
   background: url(../img/icons/cross-circle\ \(1\)\ 1.svg) no-repeat;
}

.fourth_li_block {
   margin-bottom: 60px;
}

.fifth_li_block li {
   background: url(../img/icons/Vector.svg) 0 5px no-repeat;
}

.fifth_li_block {
   margin-bottom: 60px;
}

.sixth_li_block li {
   background: url(../img/icons/star\ \(1\)\ 1.svg) no-repeat;
}

.third_block {
   background: url(../img/bg_02.jpg) 0 / cover no-repeat;
}

/* .price_info_block {
   padding: 145px 0 146px 0;
} */

.price_info_container {
   background: url(../img/speaker.jpg) 700px 81px / 272px 396px no-repeat;
   min-height: 506px;
}

.price {
   padding-top: 145px;
   font-family: 'Inter';
   font-style: normal;
   font-weight: 600;
   font-size: 18px;
   line-height: 24px;
   color: #3056D3;
   margin: 0 0 13px 0;
}

.Seriece_name {
   font-family: 'Inter';
   font-style: normal;
   font-weight: 700;
   font-size: 36px;
   line-height: 45px;
   color: #212B36;
   margin: 0 0 15px 0;
}

.sub_info {
   font-family: 'Inter';
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 24px;
   color: #637381;
   margin: 0 0 35px 0;
}

.button {
   padding: 10px 30px;
   font-family: 'Inter';
   font-style: normal;
   font-weight: 600;
   font-size: 16px;
   line-height: 24px;
   color: #FFFFFF;
   background-color: #3056D3;
   border-radius: 30px;
   background-color: #3056D3;
}