@import url("reset.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

.first_piece {
   margin: 0 0 80px 0;
}

.container {
   max-width: 1260px;
   padding: 0 10px;
   margin: 0 auto;
}

.text_content {
   max-width: 816px;
   margin: 0 auto 80px;
}

.text_content p {
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 300;
   font-size: 14px;
   line-height: 1.78;
   color: #6C757D;
   margin-bottom: 30px;
}

[class*="__title"] {
   font-family: "Poppins";
   font-weight: 700;
   font-size: 25px;
   line-height: 40px;
   color: #212529;
   margin: 0 0 40px 0;
}

.first_title {
   max-width: 400px;
}

.second_title {
   max-width: 605px;
}

.images_block {
   margin: 0 0 80px 0;
   font-size: 0;
}

.images_block img {
   max-width: 100%;
   border-radius: 5px;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.picture_1 {
   margin: 0 30px 0 0;
}

.image_one {
   width: 100%;
   margin: 0 0 100px 0;
}

.text_block {
   max-width: 816px;
   margin: 0 auto 100px auto;
}

.text_block p {
   font-weight: 300;
   font-family: "Poppins";
   font-size: 14px;
   line-height: 25px;
   color: #6C757D;
}

.first_p {
   margin: 0 0 25px 0;
}

.second_p {
   margin: 0 0 100px 0;
}

.title_content {
   max-width: 605px;
   font-weight: 700;
   font-size: 25px;
   font-family: "Poppins";
   line-height: 40px;
   color: #212529;
}

.image_block {
   text-align: center;
   font-size: 0;
   margin: 0 0 100px 0;
}

.image_block img {
   border-radius: 5px;
}

.image_margin_01 {
   margin: 0 30px 0 0;
}