@import "_reset.scss";
@import "_common.scss";
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
body {
   .loaded & {
      opacity: 1;
      transition: all 0.5s;
   }
   opacity: 0;
   font-family: 'Oswald';
   color: #000000;
   font-size: 24px;
}

.wrapper {
   overflow: clip;
   min-height: 100%;

   display: flex;
   flex-direction: column;
}

.wrapper>main {
   flex-grow: 1;
}

[class*="__container"] {
   margin: 0 auto;
   max-width: 1920px;
   padding: 0 21px;
   @media (max-width: 1897px) {
      max-width: 1400px;
      
   }
}

$mainColor: #000000;

.grid-title {
   @media (max-width:767.98px) {
      display: grid;
      align-items: center;
      justify-items: center;
      background: #fff;
   }
}
.title-brands {
   display: grid;
   justify-content: center;
   @media (max-width:767.98px) {
      justify-content: start;
   }
   &__text {
   background: #fff;
   padding: 0 89px;
   font-weight: 400;
   font-size: 24px;
   line-height: 2.83;
   text-transform: uppercase;
   text-align: center;
   color: $mainColor;
   z-index: 34;
   transform: translate(0,50%);
      @media (max-width:767.98px) {
      transform: translate(0,0);
      padding: 0 20px;
   }
   }
}
.menu-burger {
   display: block;
   position: relative;
   width: 50px;
   height: 30px;
   display: none;
   &::before {
      content: '';
      position: absolute;
      background-color: #353636;
      height: 4px;
      width: 100%;
      left: 0;
      top: 0;

   }
   span{
      position: absolute;
      background-color: #353636;
      height: 4px;
      width: 100%;
      left: 0;
      margin-top: -2px;
   }
   &::after {
      content: '';
      position: absolute;
      background-color: #353636;
      height: 4px;
      width: 100%;
      left: 0;
      bottom: 0;
   }
   @media (max-width:767.98px) {
      display: block;
   }
}
.choose-brand-margin:not(:last-child) {
   margin-bottom: 30px;
}
.choose-brand {
   display: grid;
   &__list {
   padding: 29px 12px;
   border: 2px solid #C4C4C4;
   @media (max-width: 1100px) {
      padding: 29px 6px 10px 6px;
   }

.list-brand__menu {
   display: grid;
   align-items: center;
   justify-content: center;
   grid-template-columns: repeat(7,1fr);
   gap: 35px;
   @media (max-width: 1897px) {
      grid-template-columns: repeat(4,1fr);
      row-gap: 15px;
      
   }
   @media (max-width: 1100px) {
      grid-template-columns: repeat(3,1fr);
      gap: 5px;
   }
   @media (max-width: 767.98px) {
      grid-template-columns: repeat(1,1fr);
      gap: 5px;
   }

   .list-brand__item {
      z-index: 2;
      justify-self: center;
      &.active {
         background: #F0F2F2;
      }
      transition: background 0.3s;
      @media (max-width: 767.98px) {
      width: 100%;
      }
      .list-brand__link {
         display: grid;
         justify-content: center;
         align-items: center;
         height: 141px;
         width: 225px;
         @media (max-width: 767.98px) {
            width: 100%;
         }
      }
   }
}
}
} 

.main__head {
   display: grid;
   grid-template-columns: repeat(12,1fr);
   grid-template-rows: repeat(12,1fr);
   gap: 29px;
   &:not(:last-child) {
      margin-bottom: 30px;
   }
   @media (max-width: 1099px) {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
   }
}
.head__item {
   .itemFourth-visible & {
      opacity: 1;
      transform: scale(1);
      transition: all 0.8s;
   }
   opacity: 0;
   transform: scale(0);
   position: relative;
   display: grid;
   align-items: center;
   &:nth-child(1) {
      grid-column: span 6;
      grid-row: span 6;
   }
   &:nth-child(3) {
      grid-column: span 6;
      grid-row: span 6;
   }
   &:nth-child(2) {
      grid-column: span 6;
      grid-row: span 12;
   }
   .image-wrapper-big {
      position: relative;
      padding-bottom: 97.186147%; /* 898/924 */
      transition: all 0.8s;
      & img {
         position: absolute;
         top: 0;
         left: 0;
         height: 100%;
         width: 100%;
      }
      &::after {
         content: '';
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
         opacity: 0;
         transition: all 0.5s;
   }
}
   .image-wrapper {
      position: relative;
      padding-bottom: 46.969697%; /* 434/924 */
      & img {
         position: absolute;
         top: 0;
         left: 0;
         height: 100%;
         width: 100%;
      }
      &::after {
         content: '';
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
         opacity: 0;
         transition: all 0.5s;
   }
}
   .head__text-block {
      display: grid;
      justify-content: center;
      justify-items: center;
      align-items: center;
      position: absolute;
      padding: 0 0 0 491px;
      @media (max-width: 1897px) {
         padding: 0 0 0 250px;
      }
      @media (max-width: 1099px) {
      padding: 0 0 0 450px;
      }
      @media (max-width: 767.98px) {
         padding: 0 0 0 320px;
      }
      @media (max-width: 600px) {
            padding: 0 0 0 204px;
      }
      @media (max-width: 400px) {
         padding: 0 0 0 115px;
      }
      .head__title {
      max-width: 221px;
      font-weight: 600;
      font-size: 48px;
      line-height: 1.29;
      text-transform: uppercase;
      color: $mainColor;
      @media (max-width: 1897px) {
         font-size: 26px;
      }
      @media (max-width: 600px) {
         font-size: 20px;
      }
      @media (max-width: 400px) {
         font-size: 16px;
      }
      }
      .head__subtitle {
      font-size: 22px;
      line-height: 1.68;
      letter-spacing: 0.01em;
      color: $mainColor;
      &:not(:last-child) { 
      margin-bottom: 51px;
      @media (max-width: 1897px) {
         margin-bottom: 21px;
      }
      @media (max-width: 400px) {
      margin-bottom: 10px ;
      }
      }
      @media (max-width: 1897px) {
         font-size: 16px;
      }
      @media (max-width: 1099px) {
         font-size: 18px;
      }
      @media (max-width: 600px) {
         font-size: 16px;
         line-height: 1.1;
      }
   }
}
.width-big {
   padding: 115px 0 115px 94px;
   justify-items: start;
   @media (max-width: 767.98px) {
      padding: 115px 0 50px 54px;
   }
   @media (max-width: 480px) {
   padding: 40px 0 35px 30px;
   }
   .head__title {
   max-width: 369px;
   }
   .title-big {
   font-weight: 600;
   font-size: 96px;
   line-height: 1.15;
   text-transform: uppercase;
   color: #131313;
   @media (max-width: 1897px) {
      font-size: 46px;
   }
   @media (max-width: 600px) {
      font-size: 36px;
   }
   @media (max-width: 420px) {
      font-size: 26px;
   }
   @media (max-width: 400px) {
      font-size: 20px;
   }
   }
}
.padding-big {
   padding: 430px 0 103px  94px;
   @media (max-width: 1897px) {
      padding: 330px 0 103px  50px;
   }
   @media (max-width: 767.98px) {
      padding: 175px 0 50px 54px;
   }
   @media (max-width: 600px) {
      padding: 175px 0 10px 54px;
   }
   @media (max-width: 400px) {
      padding: 80px 0 5px 30px;
      }
}
}



.main__choose-content {
   display: grid;
   grid-template-columns: minmax(200px, 370px) minmax(730px, 1fr);
   gap: 30px;
   @media (max-width:1100px) {
   grid-template-columns: 1fr;
   }
   .sidebar {
      border-right: 1px solid #C4C4C4;
      flex: 1 0 379px;
      padding-right: 15px;
      @media (max-width:767.98px) {
         flex: 0 1 auto;
      }
      .form-checkbox {
         display: flex;
         flex-direction: column;
         gap: 20px;
         font-family: 'Roboto';
         font-style: normal;
         font-weight: 400;
         font-size: 16px;
         line-height: 2;
         text-transform: uppercase;
         color: #3F3F3F;
         @media (max-width:1000px) {
            flex-direction: row;
            flex-wrap: wrap;
            column-gap: 20px;
            row-gap: 10px;
            font-size: 14px;
         }
      }
      .sidebar__title {
         &:not(:last-child) {
            margin-bottom: 31px;
            @media (max-width:900px) {
               margin-bottom: 16px;
            }
         }
      }
   }
}
.sidebar {

.sidebar__title {
font-weight: 400;
font-size: 24px;
line-height: 2.83;
}
.inputbox {
   & input {
   visibility: hidden;
   position: absolute;
   &:checked+label {
      color: #000000;
   }
   &:checked+label::before  {
      background: url(../img/icons/On.svg) center / cover no-repeat;
   }
   }
   & label {
      cursor: pointer;
      display: flex;
      flex-wrap: wrap-reverse;
      align-items: center;
      text-align: left;
      gap: 9px;
      &::before {
         content: '';
         width: 14px;
         height: 14px;
         border: 1px solid #828282;
      }
   }
}
}
.main__choose-content {
   &:not(:last-child) {
      margin-bottom: 62px;
   }
}
.articles {
   flex: 1 1 auto;
   display: grid;
   gap: 63px;
   .article-grid {
      display: grid;
      grid-template-columns: repeat(4,1fr);
      column-gap: 26px;
      row-gap: 48px;
      @media (max-width:1300px) {
         grid-template-columns: repeat(2,1fr);
      }
      @media (max-width:767.98px) {
         grid-template-columns: 1fr;
      }
   }
         .load-more {
         border: 2px solid #828282;
         color: #828282;
         font-weight: 500;
         font-size: 14px;
         line-height: 21px;
         display: flex;
         align-items: center;
         text-align: center;
         letter-spacing: 0.5px;
         text-transform: uppercase;
         padding: 12px 35px;
         justify-self: center;
         transition: all 0.3s;
      }
}
.article__item {
}
.content-item {
   display: grid;
   gap: 14px;
   .content-item__image {
      position: relative;
      padding-bottom: 130.813953%; /* 450/344 */
      & img {
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
      }
   }
   .content-item__info {
      line-height: 1.50;
      .content-item__type {
         font-weight: 600;
         font-size: 12px;
         text-transform: uppercase;
         color: #BDBDBD;
      }
      .content-item__name {
         font-weight: 300;
         font-size: 18px;
         color: #000000;
         transition: color 0.3s;
         &:not(:last-child) {
            margin-bottom: 18px;
         }
      }
      .price-grid {
         display: grid;
         align-items: center;
         justify-content: start;
         grid-template-columns: 0.1fr 0.1fr;
         gap: 15px;
         .content-item__price {
            font-weight: 500;
            font-size: 22px;
            text-transform: uppercase;
            color: $mainColor;
            @media (max-width:1400px) {
               font-size: 16px;
            }
         }
         .red-text {
            color: #EB5757;
         }
         .line-through {
            text-decoration: line-through;
            font-weight: 400;
            font-size: 14px;
            line-height: 1.50;
            text-transform: uppercase;
            color: #828282;
         }
         @media (max-width:1400px) {
            font-size: 16px;
         }
      }
   }
}

.discount-item {
   position: absolute;
   top: 15px;
   left: 0;
   max-width: 40px;
   width: 100%;
   font-weight: 400;
   font-size: 14px;
   line-height: 1.50; 
   background: #000;
   text-align: center;
   color: #FFFFFF;
}

.shopping {
   .itemOne-visible & {
      opacity: 1;
      transform: scale(1);
}
   display: grid;
   align-items: center;
   min-height: 400px;
   background: url(../img/bg-shopping.jpg) right center / cover no-repeat;
   position: relative;
   transform: scale(0);
   opacity: 0;
   transition: all 0.8s;
   &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(185, 183, 183, 0.267);
      opacity: 0;
      transition: all 0.5s;
   }
}
.shopping-width {
   &:not(:last-child) {
      margin-bottom: 77px;
   }
}
.shopping-grid {
   display: grid;
   grid-template-columns: 1fr 1fr;
   justify-items: end;
   z-index: 8768;
   @media (max-width:1400px) {
      grid-template-columns: 1fr;
      justify-items: center;
   }
}
.item-shop {
   display: grid;
   justify-items: start;
   max-width: 602px;
   padding: 20px 0px 10px 0;
   @media (max-width:900px) {
      max-width: 400px;
   }
   @media (max-width:600px) {
      max-width: 300px;
      justify-items: center;
   }
   .decore-border {
      border-top: 2px solid #000;
      border-right: 2px solid #000;
      @media (max-width:900px) {
         border: none;
      }
      .item-shop__title {
         font-weight: 500;
         font-size: 56px;
         line-height: 1.28; 
         text-transform: uppercase;
         color: $mainColor;
         transform: translate(-37px,0);
         @media (max-width:900px) {
            font-size: 36px;
            text-shadow: 1px -1px 0px #fff;
            transform: translate(0,0);
         }
         @media (max-width:600px) {
            font-size: 24px;
         }
      }
   }
   .item-shop__text {
      font-family: "Roboto";
      font-size: 25px;
      font-weight: 300;
      line-height: 1.48;
      letter-spacing: 0.01em;
      color: $mainColor;
      transform: translate(-37px,0);
      @media (max-width:900px) {
         font-size: 20px;
         transform: translate(0,0);
         text-shadow: 1px -1px 0px #fff;
      }
      @media (max-width:600px) {
         text-align: center;
         font-size: 18px;
         font-weight: 500;
      }
      &:not(:last-child) {
         margin-bottom: 24px;
      }
   }
   .button {
      transform: translate(-37px,0);
      @media (max-width:900px) {
         transform: translate(0,0);
         text-shadow: 1px -1px 0px #fff;
      }
      @media (max-width:600px) {
         font-weight: 900;
      }
   }
}
.items-block-width {
   &:not(:last-child) {
      margin-bottom: 68px;
   }
}
%sliderbtnsstyle {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 40px;
   height: 40px;
   border: 2px solid #C4C4C4;
   transition: background 0.3s;
}
.items-block__head {
   display: grid;
   grid-template-columns: 1fr 1fr;
   &:not(:last-child) {
      margin-bottom: 34px;
   }
   .arrows {
      display: grid;
      justify-self: end;
      gap: 4px;
      grid-template-columns: 0.1fr 0.1fr;
      &__left {
         @extend %sliderbtnsstyle;
         &:hover {
            background: #cfcccc;   
         }
      }
      &__right {
         @extend %sliderbtnsstyle;
         transform: rotate(-180deg);
         &:hover {
            background: #cfcccc;   
         }
      }
   }
}


.items-block__body {
   display: grid;
   grid-template-columns: repeat(5,1fr);
   gap: 26px;
   @media (max-width:1300px) {
      grid-template-columns: repeat(3,1fr);
   }
   @media (max-width:1000px) {
      grid-template-columns: repeat(2,1fr);
   }
   @media (max-width:600px) {
      grid-template-columns: 1fr;
   }
}

.explore-block {
   .itemTwo-visible & {
      opacity: 1;
      transform: scale(1);
}
opacity: 0;
transform: scale(0);
transition: all 0.8s;
   display: grid;
   grid-template-columns: 1fr .8fr;
   &:not(:last-child) {
      margin-bottom: 82px;
   }
   @media (max-width:1900px) {
      grid-template-columns: 1fr;
   }
   .explore-block__image {
      position: relative;
      padding-bottom: 34.245283%; /* 363/1060 */
      @media (max-width:600px) {
         padding-bottom: 54.245283%;
      }
      & img {
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }
   .explore-block__text {
      justify-self: center;
      align-self: start;
      .item-shop {
         padding: 0;
         @media (max-width:1900px) {
            padding: 20px 0 0 0;
         }
      }
   }
}

.blog-block {
   .blog-block__items-body {
      .itemThird-visible & {
         transform: translate(0,0);
         transition: all 0.8s;
      }
   transform: translate(100%, 0),;
   background: #F8F9FB;
   padding: 46px 21px;
   @media (max-width:767.98px) {
      padding: 23px 10.5px;
      transform: translate(0, 0),;
   }
      .blog-block__head {
         &:not(:last-child) {
            margin-bottom: 30px;
         }
      }
      .blog-block__body {
         display: grid;
         grid-template-columns: repeat(4,1fr);
         gap: 30px;
         @media (max-width:1900px) {
            grid-template-columns: repeat(3,1fr);
         }
         @media (max-width:1300px) {
            grid-template-columns: repeat(2,1fr);
         }
         @media (max-width:767.98px) {
            grid-template-columns: repeat(1,1fr);
         }
         .card-blog {
            .itemThird-visible & {
               animation: rotateCard 1s;
               @media (max-width:767.98px) {
                  animation: none;
               }
            }
            display: grid;
            grid-template-rows: 1fr 0.1fr;
            gap: 100px;
            padding: 24px 24px 0 24px;
            background: #FFFFFF;
            transition: transform 0.8s, box-shadow 0.8s;
            .card-blog__info {
               color: #BDBDBD;
               .card-blog__type {
               font-weight: 600;
               font-size: 18px;
               line-height: 1.50; /* 27px/18 */
               text-transform: uppercase;
               transition: color 0.3s;
               &:not(:last-child) {
                  margin-bottom: 21px;
               }
               }
               .card-blog__title {
                  font-weight: 400;
                  font-size: 26px;
                  line-height: 1.50; /* 39px/26 */
                  color: $mainColor;
                  &:not(:last-child) {
                     margin-bottom: 32px;
                  }
                  @media (max-width:767.98px) {
                     font-size: 20px;
                  }
               }
               .card-blog__text {
                  font-family: "Roboto";
                  font-weight: 300;
                  font-size: 16px;
                  line-height: 1.50;
                  letter-spacing: 0.01em;
                  color: $mainColor;
               }
            }
            .card-blog__date {
               border-top: 3px solid #000;
               font-weight: 300;
               font-size: 13px;
               line-height: 2.85;
               color: #4F4F4F;
            }
         }
      }
   }
}

@media (any-hover:hover) {
   .list-brand__item{
      &:hover {
         background: #F0F2F2;
         }
      }
      .button:hover {
         background: #0c0c0c;
         color: #fff;
      }
   .head__item {
      &:hover {
         .image-wrapper-big::after {
            opacity: 1;
         }
         .image-wrapper::after {
            opacity: 1;
         }
      }
   }
   .content-item {
      &:hover {
         .content-item__name {
            color: #cfa3e0;
         }
      }
   }
   .load-more {
      &:hover {
         color: #fff;
         background: #828282;
      }
   }
   .card-blog {
      &:hover {
         box-shadow: 0 0 45px 3.5px black;
         transform: scale(1.1);
         z-index: 999;
         .card-blog__type { 
            color: #8e2ccf;
         }
      }
   }
   .shopping {
      &:hover {
         &::after {
            opacity: 1;
         }
      }
   }
}

@keyframes rotateCard {
   50% {
      transform: rotate(-35deg);
   }
   100% {
      transform: rotate(0deg);
   }
}